<link rel="stylesheet" href="css/login.css">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Login
        </title>
    </head>

    <body>
        
        <div id="login">
            
            <div><h1>Password Manager <br>Login</h1></div>
            
            <form action="/login" method="post" autocomplete="off">
                
                <div id="username"> 
                    <label for="username">User ID</label>
                    <input type="text" name="username" id="username" value="" required autofocus>
                </div>
                <div id="password">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="" required>
                </div>
                
                <button type="submit">Login</button>
            </form>        
            <div id="signup">
                <h2>Don't have an account?</h2>
                <a href="/signup">Create an account</a>
            </div>
        </div>
        
        
    </body>
</html>